body {
  background: #eee;
  line-height: 1;
}
.mui-content {
  background: transparent;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 0 2.5rem 0;

}

header {
  height: 2rem;
  background: #fff;
  box-sizing: border-box;
  overflow: hidden;
  .left {
    float: left;
    width: 40%;
    position: relative;
    .down {
      width: 1rem;
      height: 1rem;
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      z-index: 6;
    }
    select {
      margin: 0;
      font-size: .6rem;
      border-radius: 0;
      line-height: 1;
    }
    .mui-btn-block {
      margin-bottom: 0;
      padding: 0 .6rem;
      box-sizing: border-box;
      height: 2rem;
    }
    .mui-btn {
      line-height: 2rem;
    }
  }
  .right {
    float: left;
    width: 60%;
    overflow: hidden;
    div {
      input {
        background: transparent;
      }
      .mui-placeholder {
        font-size: .6rem;
      }
    }
  }
}

.navigator {
  padding: 0 0 15px 0;
  box-sizing: border-box;
  background: #fff;
  .mui-table-view:before, .mui-table-view:after {
    background: transparent;
  }
  li {
    padding: 15px 0 0 14px !important;
    a {
      text-align: center;
      .mui-media-body {
        font-size: .6rem !important;
        margin-top: 10px !important;
      }
      .icon {
        width: 2rem;
        height: 2rem;
        margin: 0 auto;
        border-radius: 50%;
        background: #42b983;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          color: #fff;
        }
      }
    }
  }
}

.preparedMedicine {
  margin: .5rem auto;
  background: #fff;
  .pmHeader {
    height: 1.8rem;
    padding: 0 .5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    div {
      flex: 1;
      display: flex;
      align-items: center;
      color: #42b983;
      font-weight: bold;
    }
    div:last-of-type {
      font-weight: normal;
      font-size: .6rem;
      justify-content: flex-end;
      color: #666;
      .mui-icon {
        font-size: .6rem;
      }
    }
  }
  .pmMedicine {
    box-sizing: border-box;
    display: flex;
    li {
      flex: 1;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: .5rem 0 .2rem;
      a {
        display: block;
        img {
          width: 3rem;
          height: 3rem;
        }
      }
      span {
        display: block;
        text-align: center;
      }
      span.name {
        margin: .5rem auto;
        width: 4rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: .5rem;
      }
      span.price {
        color: #f00;
        font-weight: bold;
        width: 100%;
        margin-bottom: .5rem;
      }
    }
  }
}
.pharmacy{
  box-sizing: border-box;
  padding: 0 .5rem;
  background: #fff;
  .pHeader{
    height: 2rem;
    color: #1acbb4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    span{
      display: inline-block;
      font-weight: bold;
    }
    span.title{
      margin: 0 .4rem;
    }
    span.line{
      width: .8rem;
      border-bottom: 1px solid #1acbb4;
    }
    .more{
      position: absolute;
      right: 0rem;
      top: 50%;
      transform: translateY(-50%);
      span{
        color: #c0c0c0;
        font-weight: normal;
      }
      span.mui-icon{
        font-size: .8rem;
      }
    }
  }

  .shop{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: .5rem 0 1rem;
    .shopLeft{
      display: flex;
      align-items: center;
      width: calc(100% - 4rem);
      img{
        width: 3rem;
        height: 3rem;
        margin-right: .5rem;
      }
      .description{
        height: 2.4rem;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        .name{
          font-weight: bold;
        }
        .detail{
          font-size: .6rem;
          .star{
            color: #fa952f;
            .mui-icon{
              font-size: .85rem;
            }
            margin-right: .2rem;
          }
          .order{
            color: #999;
          }
        }
      }
    }
    .shopRight{
      width: 4rem;
      justify-content: flex-end;
      display: inline-flex;
      height: 1rem;
      color: #999;
      align-items: center;
    }
  }
  .shopWrap:not(:first-of-type) .shop{
    padding-top: 1rem;
    box-sizing: border-box;
  }

  .medicine{
    display: flex;
    box-sizing: border-box;
    padding: 0 0 1rem 0;
    border-bottom: 1px solid #eee;
    li{
      flex: 1;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      a{
        width: 4.4rem;
        height: 4.4rem;
        border: 1px solid #e0e0e0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: .5rem;
        img{
          width:4rem;
          height: 4rem;
        }
      }
      span{
        display: block;
        width: 4.8rem;
        text-align: center;

        font-size: .6rem;
      }
      .name{
        height: 1.8rem;
        line-height: 1.5;
        color: #333;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-align: left;
      }
      .price{
        height: 1rem;
        line-height: 1rem;
        color: #f00;
        font-weight: bold;
      }
    }
  }
}
.shopWrap:last-of-type .medicine{
  border-bottom: none;
}

