<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>惠惠|首页</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <script src="../js/flex_rem.js"></script>
    <link rel="stylesheet" href="../css/mui.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div id="indexApp" v-cloak>
    <div class="mui-content">
        <!--头部-->
        <div>9999999</div>
        <header>
            <div class="left">
                <img src="../img/down.png" alt="" class="down">
                <select class="mui-btn mui-btn-block">
                    <option value="item-1" v-for="item in address" v-html="item"></option>
                </select>
            </div>
            <!--搜索商家、商品、品类-->
            <div class="right">
                <div class="mui-content-padded" style="margin: 5px;">
                    <div class="mui-input-row mui-search">
                        <input type="search" class="mui-input-clear" placeholder="搜索商家、商品、品类">
                    </div>
                </div>

            </div>
        </header>
        <!--轮播图-->
        <div class="mui-slider">
            <div class="mui-slider-group mui-slider-loop">
                <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img :src="swiper[swiper.length-1]">
                    </a>
                </div>
                <!-- 第x张 -->
                <div class="mui-slider-item" v-for="(item,index) in swiper">
                    <a href="#">
                        <img :src="item">
                    </a>
                </div>
                <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img :src="swiper[0]">
                    </a>
                </div>
            </div>
            <div class="mui-slider-indicator">
                <div class="mui-indicator" v-for="(item,index) in swiper" :class="{'mui-active':index==0}"></div>
            </div>
        </div>

        <!--导航菜单-->
        <div class="navigator">
            <ul class="mui-table-view mui-grid-view">
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" v-for="item in navList"><a href="#">
                    <div class="icon"><span class="mui-icon" :class="item.icon"></span></div>
                    <div class="mui-media-body" v-text="item.title"></div>
                </a></li>
            </ul>
        </div>
        <!--常备药品-->
        <div class="preparedMedicine">
            <div class="pmHeader">
                <div class="title">常备药品</div>
                <div class="more">
                    <span>更多</span>
                    <span class="mui-icon mui-icon-arrowright"></span>
                </div>
            </div>
            <ul class="pmMedicine">
                <li v-for="item in pmList">
                    <a href=""><img :src="item.img"></a>
                    <span class="name" v-text="item.title"></span>
                    <span class="price" v-text="item.price"></span>
                </li>
            </ul>
        </div>
        <!--附近药店--><!--附近药店--><!--附近药店-->
        <div class="pharmacy">
            <div class="pHeader">
                <span class="line"></span><span class="title">附近药店</span><span class="line"></span>
                <div class="more"><span>查看更多</span><span class="mui-icon mui-icon-arrowright"></span></div>
            </div>
            <div class="shop">
                <div class="shopLeft">
                    <img src="../img/logo.png" alt="">
                    <div class="description">
                        <div class="name">同仁堂大药房（万达店）</div>
                        <div class="detail">
                            <span class="star"><span class="mui-icon mui-icon-star"></span><span
                                    class="mui-icon mui-icon-star"></span><span
                                    class="mui-icon mui-icon-star"></span><span
                                    class="mui-icon mui-icon-star"></span><span class="mui-icon mui-icon-star"></span>4.5分</span>
                            <span class="order">月销4528单</span>
                        </div>
                    </div>
                </div>
                <div class="shopRight">
                    <span class="position mui-icon mui-icon-paperplane"></span><span>369m</span>
                </div>
            </div>
            <ul class="medicine">
                <li v-for="item in medList">
                    <a href=""><img :src="item.img" alt=""></a>
                    <span class="name" v-text="item.title"></span>
                    <span class="price" v-text="item.price"></span>
                </li>
            </ul>
        </div>
    </div>

    <footer-component :footer-active="0"></footer-component>
</div>
</body>

<script src="../js/utils/mui.min.js"></script>
<script src="../js/utils/vue.js"></script>
<script src="../js/components/footer.js"></script>
<script src="../js/common.js"></script>
<script>
    var vm = new Vue({
        el: '#indexApp',
        data: {
            swiper: [
                '../img/shuijiao.jpg', '../img/muwu.jpg', '../img/cbd.jpg', '../img/yuantiao.jpg'
            ],
            navList: [
                {
                    icon: 'mui-icon-search',
                    title: '找药店'
                },
                {
                    icon: 'mui-icon-paperplane',
                    title: '健康资讯'
                },
                {
                    icon: 'mui-icon-locked',
                    title: '常备药品'
                },
                {
                    icon: 'mui-icon-paperclip',
                    title: '慢性病'
                },
                {
                    icon: 'mui-icon-starhalf',
                    title: '感冒发烧'
                },
                {
                    icon: 'mui-icon-loop',
                    title: '滋补保健'
                },
                {
                    icon: 'mui-icon-gear',
                    title: '医疗器械'
                },
                {
                    icon: 'mui-icon-refresh',
                    title: '家庭养生'
                },
            ],
            address: ['华亿科技园', '黄山路', '安建大'],
            pmList: [
                {
                    img: '../img/shuijiao.jpg',
                    title: '三金西瓜霜西瓜霜',
                    price: '￥5.36'
                },
                {
                    img: '../img/yuantiao.jpg',
                    title: '三金西瓜霜西瓜霜',
                    price: '￥5.36'
                },
                {
                    img: '../img/muwu.jpg',
                    title: '三金西瓜霜西瓜霜',
                    price: '￥5.36'
                },
                {
                    img: '../img/cbd.jpg',
                    title: '三金西瓜霜西瓜霜',
                    price: '￥5.36'
                },
            ],
            medList: [
                {
                    img: '../img/img1.png',
                    title: '钙尔奇 碳酸钙D3 咀嚼片30片',
                    price: '￥377.65'
                },
                {
                    img: '../img/img2.png',
                    title: '钙尔奇 碳酸钙D3 咀嚼片30片',
                    price: '￥377.65'
                },
                {
                    img: '../img/img3.png',
                    title: '钙尔奇 碳酸钙D3 咀嚼片30片',
                    price: '￥377.65'
                },
            ]
        },
        components: {
            footerComponent
        }
    })
    //    mui
    var gallery = mui('.mui-slider'); //    轮播图
    gallery.slider({
        interval: 2000//自动轮播周期，若为0则不自动播放，默认为0；
    });
</script>
</html>